img {
    height: 20px;
  }
  body {
    background-color: #EAF6F6;
  }
  h1, h3, h2 {
    color: #66bfbf;
  }
  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 3px;
    width: 4%;
  }
  